<div class="md-4">
  <div class="card" data-id="<%= portfolio_item.id %>">
    <div style="height: 200px;width: 350px;overflow:hidden;">
      <img src="<%= portfolio_img(portfolio_item.thumb_image, 'thumb') if !portfolio_item.thumb_image.nil? %>" width="100%" >
    </div>
    <p class="card-text"><span class="portfolio-title"><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item.id),style: 'font-size:30px;display:block;margin-bottom:5px;' %></span><%= portfolio_item.subtitle %></p>
  </div>
</div>
  <!--
  <p><%= portfolio_item.body %></p>
  <%= link_to "Edit Item", edit_portfolio_path(portfolio_item.id) if logged_in?(:site_admin)%>
  <%= link_to "Delete Item", portfolio_path(portfolio_item.id), method: :delete, data: { confirm: 'Are you sure?'} if logged_in?(:site_admin)%>
  
  -->