<div class="">
  <div class="">
    <div class="row">
      <div class="col-xs-8 col-sm-6 col-md-6 col-lg-4">
          <center><%= image_tag "circular_logo.png", width: "100%", alt:"Profile Image", style:"border-radius:50%;"%></center> 
          <h3>Skills</h3>
          <div class="skills">
            <% @skills.each do |skill| %>
              <div class="skill">
                <h4><%= skill.title %></h4>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" aria-valuenow="<%= skill.percent_utilized %>" aria-valuemax="100" style="width: <%= skill.percent_utilized %>%"0>
                    
                  </div>
                </div>
              </div>
            <% end %>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
            <p><span class="display-4">Hello World</span> I like making things.</p>
            <% if logged_in?(:site_admin) %>
              <div class="btn-group" role="group" style='margin-bottom:20px;'>
                <%= link_to "Project Admin", projects_path, class: 'btn btn-success' %>
                <%= link_to "Job Admin", jobs_path, class: 'btn btn-success' %>
                <%= link_to "Skill Admin", skills_path, class: 'btn btn-success' %>
              </div>
              <br>
            <% end %>
            <div class="btn-group" role="group" aria-label="Basic example" style='margin-bottom:30px;'>
              <button type="button" class="btn btn-secondary" id='j1'>Job History</button>
              <button type="button" class="btn btn-secondary" id='p1'>Projects</button>
            </div>
            <div class="jobs" >
              <h3>Job History</h3>
              <% @jobs.each do |job| %>
                <div class="card card-block">
                  <h3><%= job.title %></h3>
                  <p><%= job.description %></p>
                </div>
              <% end %>
            </div>
            <br>
            <div class="projects">
              <h3>Projects</h3>
              <% @projects.each do |project| %>
                  <div class="card card-block">
                    <h3><%= project.title %></h3>
                    <p><%= project.description %></p>
                    <a href="<%= project.url %>" class="btn btn-primary">Visit Site</a>
                  </div>
              <% end %>
            </div>
            <script>
              $(document).ready(function(){
                $(".jobs").hide();
                $(".projects").hide();
              });
              $("#j1").click(function(){
                $(".jobs").toggle();
                $(".projects").hide();
                $("#j1").addClass("btn-primary").removeClass("btn-secondary");
                $("#p1").addClass("btn-secondary").removeClass("btn-primary");
                if($(".jobs").css('display') == "none"){
                  $("#j1").addClass("btn-secondary").removeClass("btn-primary");
                }
              });
              $("#p1").click(function(){
                $(".projects").toggle();
                $(".jobs").hide();
                $("#p1").addClass("btn-primary").removeClass("btn-secondary");
                $("#j1").addClass("btn-secondary").removeClass("btn-primary");
                if($(".projects").css('display') == "none"){
                  $("#p1").addClass("btn-secondary").removeClass("btn-primary");
                }
              });
              
            </script>
            <style>
              body{
                padding-bottom: 150px;
              }
            </style>
      </div>
    </div>
  </div>
</div>