<h1>Project Admin Page</h1>

<ul>
  <%= link_to "Create", new_project_path, class: 'btn btn-success' %>
  <% @projects.each do |p| %>
    <li>
      <strong><%= p.title %></strong>
      <%= link_to "View", p, class: 'btn btn-primary' %>
      <%= link_to "Edit", edit_project_path(p), class: 'btn btn-success' %>
      <%= link_to "Delete", p, method: :delete, class: 'btn btn-danger' %>
    </li>
  <% end %>
</ul>